.footer-container{
    display: flex;
    background-color: black;
    height: 190px;
}

.company-name{
    color: aliceblue;
    font-size: xx-large;
}

.feature-list{
    color: aliceblue;
    margin: auto;
    justify-content: space-between;
}


.forms{
    color: aliceblue;

}


